{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}
    <div class="alert alert-success">
        还差一步（我们也认为这太麻烦了），您就可以通过微博帐号快速登录了。
    </div>

    {{ form_start(form, {'action': path('oauth_connect_wizard')}) }}

    <div class="form-group">
        <div class="col-md-2 control-label">
            <label>头像</label>
        </div>
        <div class="col-md-10">
            <img src="{{ userInformation.avatarBigUrl }}" class="avatar"/>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block siebar_sns_login %}
{% endblock %}