{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}
    <div class="alert alert-info">
        您的个人资料将发送到对方邮箱
    </div>

    {{ form_start(form, {'action': path('delivery_new', {'jobId': job.id}), 'attr': {'class': 'form-horizontal' }}) }}

    <div class="form-group">
        <div class="col-lg-2 control-label">
            <label>收件人</label>
        </div>
        <div class="col-lg-10 form-control-static text-muted">
            {{ job.user.email|obfuscate_email }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}