{% extends '::base.html.twig' %}

{% block content %}
    <div class="module">
        <div class="flex-module">
            <div class="module-header">
                {{ render_breadcrumbs() }}
            </div>

            {% block user_content %}
            {% endblock %}
        </div>
    </div>

    {% block ext_content %}
    {% endblock %}
{% endblock %}