<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="job.acl" class="HR\JobBundle\Acl\JobAcl">
            <argument type="service" id="security.context" />
            <argument type="service" id="security.acl.object_identity_retrieval_strategy" />
            <argument type="service" id="security.acl.provider" />
            <argument>%job.entity.class%</argument>
        </service>

        <service id="job.manager.acl" class="HR\JobBundle\Acl\AclJobManager">
            <argument type="service" id="job.manager.default" />
            <argument type="service" id="job.acl" />
        </service>

        <service id="twig.extension.acl" class="HR\JobBundle\Twig\Extension\JobAclExtension">
            <argument type="service" id="job.acl" />
            <tag name="twig.extension" />
        </service>
    </services>

</container>