{% extends 'HRUserBundle::layout.html.twig' %}

{% block user_content %}

    <p>如果你有任何意见或建议，请发邮件至 <script type="text/javascript"><!--
            var grfgewj = ['c','@','>','s','a','t','a','i','s','m','o','a','a','t','r','m','h','o','e','a','r','m','<','n','c','=','u','o','.','l','r','n','"','n','c','t','a','<',':','"','h','f','"','m','l','a','a','h','u',' ','>','c','h',' ','c','o','n','c','l','h','a','c','n','=','e','/','i','.','@','t','o','"','n','t'];var emeaaqc = [37,23,50,41,1,22,39,47,40,9,33,62,55,19,65,45,59,68,5,10,4,34,0,61,21,7,25,14,66,48,30,63,35,28,16,54,20,70,15,43,24,6,49,69,38,27,72,3,60,36,73,32,64,2,67,52,26,56,12,29,46,51,18,42,44,71,11,31,58,13,17,8,53,57];var iodthzs= new Array();for(var i=0;i<emeaaqc.length;i++){iodthzs[emeaaqc[i]] = grfgewj[i]; }for(var i=0;i<iodthzs.length;i++){document.write(iodthzs[i]);}
            // --></script>
    <noscript>Please enable Javascript to see the email address</noscript>，我们会尽力一一回复。</p>

{% endblock %}