{% extends '::base.html.twig' %}

{% block content %}
    <div class="module">
        <div class="flex-module">
            <div class="module-header">
                {{ render_breadcrumbs() }}
            </div>

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% block user_content %}
            {% endblock %}
        </div>
    </div>

    {% block ext_content %}
    {% endblock %}
{% endblock %}