<div class="module">
    <div class="list-group-module">
        <div class="list-group">
            <a href="{{ path('profile_edit') }}" class="list-group-item{% if active == 'profile' %} active{% endif %}">
                <span class="glyphicon glyphicon-chevron-left"></span> 基本资料
            </a>
            <a href="{{ path('position_list') }}" class="list-group-item{% if active == 'position' %} active{% endif %}">
                <span class="glyphicon glyphicon-chevron-left"></span> 职业经历
            </a>
            <a href="{{ path('education_list') }}" class="list-group-item{% if active == 'education' %} active{% endif %}">
                <span class="glyphicon glyphicon-chevron-left"></span> 教育经历
            </a>
            <a href="{{ path('skill_list') }}" class="list-group-item{% if active == 'skill' %} active{% endif %}">
                <span class="glyphicon glyphicon-chevron-left"></span> 技能信息
            </a>
        </div>
    </div>
</div>