<div class="module">
    <div class="list-group-module">
        <div class="list-group">
            <a href="{{ path('profile_edit') }}" class="list-group-item{% if active == 'profile' %} active{% endif %}">
                <span class="glyphicon glyphicon-chevron-left"></span> 基本资料
            </a>
            <a href="{{ path('position_list') }}" class="list-group-item{% if active == 'position' %} active{% endif %}">
                <span class="glyphicon glyphicon-chevron-left"></span> 职业经历
            </a>
            <a href="" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-left"></span> 教育信息
            </a>
            <a href="" class="list-group-item">
                <span class="glyphicon glyphicon-chevron-left"></span> 技能信息
            </a>
        </div>
    </div>
</div>

<div class="module">
    <div class="list-group-module">
    <div class="list-group">
        <a href="{{ path('resume_preview') }}" class="list-group-item{% if active == 'resume' %} active{% endif %}">
            简历预览
        </a>
    </div>
</div>
</div>